<div class="container">
  <h1>Welcome on Yelp - Our Restaurants</h1>
  <%= link_to "Add +", new_restaurant_path, class: "btn btn-primary m-3" %>
  <% @restaurants.each do |restaurant|%>
  <li>
  <%= link_to restaurant.name, restaurant_path(restaurant)%>
  <p><%= restaurant.category.capitalize%></p>
  </li>
  <% end %>
</div>
